@import "tailwindcss";

@theme {
  /* Definimos la paleta de colores del panel */
  --color-brand-navy: #0A192F;
  --color-brand-charcoal: #112240;
  --color-brand-dark: #0B0B0B;
  --color-brand-accent: #64FFDA;
}

body {
  background-color: var(--color-brand-navy);
  color: #f3f4f6;
  font-family: 'Inter', system-ui, sans-serif;
}